<h2>Template</h2>

<!-- Text Interpolation -->
<h3>Text Interpolation</h3>
<p>hello my name is {{name}}</p>
<p>my age is {{age}}</p>
<p>my birth year is {{getBirthYear(age)}}</p>

<!-- Property Binding -->
<h3>Property Binding</h3>
<button [hidden]="isDisabled"><img [src]="srcValue" [alt]="name" [title]="name"></button>
<button (click)="isDisabled = !isDisabled">Clique aqui</button>


<!-- Attribute Binding -->
<h3>Attribute Binding</h3>
<p [attr.aria-label]="name"></p>

<!-- Class Binding -->
<h3>Class Binding</h3>
<p [class.background-red]="age >= 18" [class.background-blue]="age < 18">{{name}}</p>

<!-- Style Binding -->
<h3>Style Binding</h3>
<p [style.text-decoration]="isTextDecoration">{{age}}</p>


<!-- Event Binding -->
<h3>Event Binding</h3>
<button (click)="sumAge()">+</button>
<button (click)="subAge()">-</button>
<input (keydown.shift.t)="onKeyDown($event)"/>


<div style="background: cadetblue; width: 300px; height: 300px; margin-top: 10px;"
 (mousemove)="onMouseEvent($event)"></div>